body {
  background-color: #F9F9F9;
}

.page {
  width: 1220px;
  margin: 0 auto;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #90B630;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.select2-container .select2-selection--single {
  height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
}

.select2-results__group,
.select2-results__option {
  font-family: 'Roboto', sans-serif;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #90B630;
}

.item-down {
  display: flex;
  justify-content: left;
  align-items: center;
}

.item-down--img {
  padding-right: 10px;
}

.item-down--text {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.custom-select {
  height: 35px;
}

.custom-select option:hover {
  background-color: #90B630;
}

.custom-select:focus {
  border-color: #90B630;
  box-shadow: 0 0 3px #90B630;
  background-color: white !important;
}

.simplert__title {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}

input.is-danger {
  border-color: red;
  box-shadow: 0 0 3px red;
}

input.is-success {
  border-color: #F9DF00;
  box-shadow: 0 0 3px #F9DF00;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

div.is-collapse {
  max-width: 350px;
}

#calc-shipment div.is-disable {
  pointer-events: none;
  opacity: .4;
}

.front-calc {
  padding-left: 35px;
  z-index: 100;
}

.main-calc > .column_attr {
  display: flex;
  position: relative;
}

.wrap-calc {
  position: absolute;
  z-index: 0;
  right: 38px;
}

.pict-calc {
  height: 501px;
  width: 745px;
  margin: 0;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.17), inset 0 0 0 0 #000;
}

.pict-calc > img.img-calc {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
}

a.btn-calc {
  position: absolute;
  z-index: 0;
  right: 15px;
  bottom: 15px;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("../webfonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../webfonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url("../webfonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../webfonts/Roboto-Light/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url("../webfonts/Roboto-Thin/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Thin/Roboto-Thin.woff") format("woff"), url("../webfonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url("../webfonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../webfonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url("../webfonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../webfonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #aaa;
}

.control-radio .control_indicator {
  border-radius: 0;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #fff;
}

.control input:checked ~ .control_indicator {
  background: #90B630;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #90B630;
}

.control input:disabled ~ .control_indicator {
  background: #fff;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.calc__loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #90B630;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.calc__preloader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.calc {
  font-family: 'Roboto', sans-serif;
  max-width: 1150px;
  transition: max-width .5s ease, opacity 1s ease;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.17), inset 0 0 0 0 #000;
  overflow: hidden;
  background-color: #fff;
  pointer-events: auto;
  min-height: 470px;
  padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  max-height: 486px;
}

#calc-shipment .calc__megabox {
  display: flex;
  flex-direction: row;
}

#calc-shipment .calc__one {
  max-width: 380px;
  padding-right: 33px;
  pointer-events: auto;
}

#calc-shipment .calc__two {
  max-width: 480px;
  padding-right: 20px;
  width: 100%;
  pointer-events: auto;
}

#calc-shipment .calc__block {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#calc-shipment .calc__title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

#calc-shipment .calc__stage {
  position: relative;
}

#calc-shipment .calc__stage:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #a4a4a4;
  width: 100%;
  height: 1px;
  right: 0;
  top: 5px;
}

#calc-shipment .calc__stage--one {
  padding-bottom: 20px;
}

#calc-shipment .calc__stage--two {
  margin-top: 0;
}

#calc-shipment .calc__stage--three {
  padding-bottom: 30px;
  z-index: 0;
}

#calc-shipment .calc__row--one {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}

#calc-shipment .calc__row--two {
  padding-top: 10px;
}

#calc-shipment .calc__caption {
  float: left;
  padding-left: 35px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  font-weight: 400;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

#calc-shipment .calc__caption:before {
  width: 30px;
  height: 30px;
  background-color: #414141;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  left: 1px;
  bottom: 0;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
}

#calc-shipment .calc__caption:after {
  content: '';
  position: absolute;
  height: 20px;
  right: -20px;
  top: 0;
  width: 10px;
  background-color: inherit;
  padding-right: 10px;
}

#calc-shipment .calc__caption--one:before {
  content: '1';
}

#calc-shipment .calc__caption--two:before {
  content: '2';
}

#calc-shipment .calc__caption--three:before {
  content: '3';
}

#calc-shipment .calc__caption--four:before {
  content: '4';
}

#calc-shipment .calc__wide {
  font-weight: 700;
}

#calc-shipment .calc__item {
  position: relative;
}

#calc-shipment .calc__address {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calc-shipment .calc__input {
  display: inline-block;
  border: 1px solid #AAA;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 0;
}

#calc-shipment .calc__input::-webkit-input-placeholder {
  color: #ddd;
}

#calc-shipment .calc__input:-ms-input-placeholder {
  color: #ddd;
}

#calc-shipment .calc__input::-ms-input-placeholder {
  color: #ddd;
}

#calc-shipment .calc__input::placeholder {
  color: #ddd;
}

#calc-shipment .calc__input:focus {
  outline: 0;
  border-color: #90B630;
  box-shadow: 0 0 3px #90B630;
  background-color: white !important;
}

#calc-shipment .calc__box--car {
  margin-bottom: 14px;
}

#calc-shipment .calc__box-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

#calc-shipment .calc__item--one {
  padding-bottom: 15px;
  padding-top: 20px;
}

#calc-shipment .calc__item--three {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calc-shipment .calc__item--four {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calc-shipment .calc__item--five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 19px;
}

#calc-shipment .calc__item--seven {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
}

#calc-shipment .calc__item--nine {
  display: flex;
  justify-content: start;
  align-items: center;
}

#calc-shipment .calc__item--ten {
  display: flex;
  justify-content: start;
  align-items: center;
}

#calc-shipment .calc__item--eleven {
  display: flex;
  justify-content: start;
  align-items: center;
}

#calc-shipment .calc__item--six {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  padding-bottom: 19px;
}

#calc-shipment .calc__item--eight {
  padding-bottom: 10px;
}

#calc-shipment .calc__ic {
  display: block;
}

#calc-shipment .calc__icon {
  color: #90B630;
  font-size: 23px;
}

#calc-shipment .calc__input--house {
  width: 50px;
}

#calc-shipment .calc__input--entrance {
  width: 50px;
}

#calc-shipment .calc__label {
  margin-left: 10px;
  width: 70px;
  display: inline-block;
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 12px;
  vertical-align: middle;
}

#calc-shipment .calc__input--name,
#calc-shipment .calc__input--phone {
  width: 260px;
}

#calc-shipment button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

#calc-shipment .btn,
#calc-shipment button.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  color: #FFFFFF;
  background-color: #90B630;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 0 28px;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  transition: all .2s ease;
  border: 0;
  outline: 0;
}

#calc-shipment .btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-filter: saturate(150%);
  filter: saturate(150%);
}

#calc-shipment .btn:hover {
  color: #4C4C4C;
  background-color: #F9DF00;
}

#calc-shipment .btn::-moz-focus-inner {
  border: none;
}

#calc-shipment .btn:focus {
  outline: none;
}

#calc-shipment .calc__container {
  display: flex;
  padding-top: 38px;
  padding-bottom: 20px;
  flex-direction: column;
}

#calc-shipment .calc__picture {
  width: 130px;
  margin: 0 10px 0 50px;
  position: relative;
}

#calc-shipment .calc__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#calc-shipment .calc__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  height: 31px;
}

#calc-shipment .calc__heading {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  padding-top: 2px;
  margin: 0 auto;
}

#calc-shipment .calc__wrapper {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
}

#calc-shipment .calc__info-link {
  position: absolute;
  left: 10px;
  top: 13px;
}

#calc-shipment .calc__desc {
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 12px;
  vertical-align: middle;
}

#calc-shipment .calc__desc--cargo {
  padding-right: 10px;
}

#calc-shipment .calc__desc--cargo-time {
  padding-left: 10px;
  padding-right: 10px;
}

#calc-shipment .calc__inner {
  display: flex;
  align-items: center;
}

#calc-shipment .calc__selectbox {
  text-align: center;
}

#calc-shipment .calc__box--client {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

#calc-shipment .calc__desc--client {
  padding-bottom: 6px;
}

#calc-shipment .calc__input--number {
  margin-bottom: 9px;
  width: 75%;
}

#calc-shipment .calc__link--undo {
  background-color: transparent;
  border: 0;
  padding: 5px 32px;
  color: #a6a6a6;
  outline: 0;
  font-size: 14px;
  text-decoration: none;
}

#calc-shipment .calc__link--text {
  border-bottom: 1px solid #a6a6a6;
}

#calc-shipment .calc__link--close {
  color: #a6a6a6;
  outline: 0;
  font-size: 28px;
  text-decoration: none;
}

#calc-shipment .calc__title--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
}

#calc-shipment .calc__price-number,
#calc-shipment .calc__box-discount-price,
#calc-shipment .calc__box-result-price {
  margin-left: auto;
}

#calc-shipment .calc__three {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
}

#calc-shipment .calc__input--datepicker {
  padding-left: 10px;
  width: 100%;
}

#calc-shipment .calc__input--datepicker .vdatetime-input {
  margin: 0;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 14px;
}

#calc-shipment .calc__input--datepicker .vdatetime-popup__header,
#calc-shipment .calc__input--datepicker .vdatetime-calendar__month__day--selected > span > span,
#calc-shipment .calc__input--datepicker .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #90B630;
}

#calc-shipment .calc__input--datepicker .vdatetime-year-picker__item--selected,
#calc-shipment .calc__input--datepicker .vdatetime-time-picker__item--selected,
#calc-shipment .calc__input--datepicker .vdatetime-popup__actions__button {
  color: #90B630;
}

#calc-shipment .calc__input--note {
  width: 100%;
}

#calc-shipment .calc__link--plus {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  color: #90B630;
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#calc-shipment .calc__link--plus:hover .calc__plus {
  color: #385620;
}

#calc-shipment .calc__link--plus:hover .calc__desc--plus {
  color: #385620;
  border-bottom: 1px solid transparent;
}

#calc-shipment .calc__plus {
  margin-right: 10px;
  font-size: 19px;
}

#calc-shipment .calc__desc--plus {
  border-bottom: 1px solid #90B630;
  transition: all .5s ease;
}

#calc-shipment .calc__hide {
  display: none;
}

#calc-shipment .calc__price {
  border-radius: 5px;
  background-color: #414141;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#calc-shipment .calc__price-text,
#calc-shipment .calc__price-number {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #888;
}

#calc-shipment .calc__rub {
  padding-left: 5px;
}

#calc-shipment .calc__price-rub {
  color: #888;
  font-size: 14px;
}

#calc-shipment .calc__item--nine,
#calc-shipment .calc__item--ten {
  padding-bottom: 5px;
}

#calc-shipment .calc__box-discount {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: row;
}

#calc-shipment .calc__discount {
  padding-right: 5px;
}

#calc-shipment .calc__discount-sum {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

#calc-shipment .calc__discount-rub {
  color: white;
  font-size: 14px;
}

#calc-shipment .calc__result-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

#calc-shipment .calc__result-sum {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff200;
  font-size: 23px;
}

#calc-shipment .calc__result-rub {
  color: #fff200;
  font-size: 23px;
}

#calc-shipment button.btn--result {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #F9DF00;
  color: #4c4c4c;
  height: 50px;
}

#calc-shipment .calc__block--three {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#calc-shipment .calc__row--four {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#calc-shipment .calc__dropdown {
  width: 100%;
}

#calc-shipment .v-select .dropdown-menu > .highlight > a {
  background: #90B630;
  color: #fff;
  text-decoration: none;
  padding: 3px 20px 3px 13px;
  line-height: 1.42857143;
  margin: 0;
}

#calc-shipment .v-select .dropdown-menu li {
  margin-bottom: 0;
}

#calc-shipment div.calc__dropdown--time {
  width: 70%;
  min-width: 245px;
}

#calc-shipment div.calc__dropdown--durability {
  width: 55%;
}

#calc-shipment .multiselect {
  min-height: 33px;
}

#calc-shipment .multiselect__tags {
  min-height: 33px;
  padding: 3px 33px 0 5px;
  border: 1px solid rgba(60, 60, 60, 0.26);
}

#calc-shipment .multiselect__select {
  height: 33px;
}

#calc-shipment .multiselect__content-wrapper {
  z-index: 40;
}

#calc-shipment .multiselect__element {
  margin-bottom: 0;
  z-index: 100;
}

#calc-shipment .multiselect__option--selected.multiselect__option--highlight {
  background: #385620;
}

#calc-shipment .multiselect__content {
  margin: 0;
  list-style: none;
  display: inline-block;
  z-index: 100;
}

#calc-shipment .multiselect__option--highlight {
  background: #90B630;
}

#calc-shipment .multiselect__select {
  top: 2px;
}

#calc-shipment .multiselect__single {
  margin-bottom: 0;
  padding-top: 3px;
}

#calc-shipment .calc__dropdown--from,
#calc-shipment .calc__dropdown--to {
  width: 85%;
}

#calc-shipment .calc__dropdown--selectbox {
  width: 100%;
}

#calc-shipment .calc__modal-desc {
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 21px;
}

#calc-shipment .calc__modal-charater {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#calc-shipment .calc__modal-text {
  padding-bottom: 10px;
}

#calc-shipment .calc__link--personal {
  border-bottom: 1px solid #90b630;
  transition: all .5s ease;
}

#calc-shipment .calc__link--personal:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

#calc-shipment .calc__gear-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
}

#calc-shipment .calc__gear-label {
  padding-right: 8px;
}

#calc-shipment .calc__intercity {
  padding-top: 8px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .page {
    width: 100%;
  }
}

@media only screen and (max-device-width: 959px) {
  .page {
    width: 100%;
  }

  div.is-collapse {
    max-width: none;
    max-height: 510px;
  }

  .wrap-calc {
    display: none;
  }

  .front-calc {
    padding-left: 0;
  }

  .main-calc > .column_attr {
    display: block;
  }
}

@media only screen and (max-device-width: 767px) {
  .page {
    width: 100%;
    min-width: 320px;
  }

  .section_wrapper {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  div.is-collapse {
    max-width: none;
    max-height: 510px;
  }

  .wrap-calc {
    display: none;
  }

  .front-calc {
    padding-left: 0;
  }

  .main-calc > .column_attr {
    display: block;
  }

  .calc {
    min-width: 320px;
    padding: 0;
    margin: 0 auto 20px;
    max-height: none;
  }

  #calc-shipment .calc__megabox {
    flex-direction: column;
  }

  #calc-shipment .calc__two {
    width: 100%;
  }

  #calc-shipment .calc__one {
    max-width: none;
    padding: 15px;
  }

  #calc-shipment .calc__two {
    max-width: none;
    padding: 15px;
    width: 90%;
  }

  #calc-shipment .calc__three {
    padding: 15px;
    width: 92%;
  }

  #calc-shipment .calc__head {
    flex-direction: column-reverse;
    padding-bottom: 10px;
    height: auto;
  }

  #calc-shipment .calc__container {
    flex-direction: column;
    padding-top: 35px;
  }

  #calc-shipment .calc__item--five {
    flex-direction: column;
  }

  #calc-shipment .calc__item--seven {
    flex-direction: column;
  }

  #calc-shipment .calc__title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #calc-shipment .calc__title--links {
    width: 100%;
    padding-right: 20px;
    padding-top: 10px;
  }

  #calc-shipment .calc__block {
    padding-bottom: 0;
  }

  #calc-shipment .calc__box--car {
    margin-bottom: 14px;
  }

  #calc-shipment .calc__wrapper {
    margin: 0 auto;
    padding-bottom: 10px;
  }

  #calc-shipment .calc__heading {
    text-align: center;
  }

  #calc-shipment div.calc__desc--cargo {
    margin: 0 auto;
    padding-right: 10px;
    padding-bottom: 0;
  }

  #calc-shipment div.calc__desc--cargo-time {
    padding-bottom: 0;
  }

  #calc-shipment .calc__desc--client {
    padding-bottom: 6px;
  }

  #calc-shipment .calc__desc {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__item--six {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__desc--plus {
    padding-bottom: 0;
  }

  #calc-shipment .calc__item--eight {
    margin: 0 auto;
  }

  #calc-shipment .calc__item--eleven {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__input--street {
    width: 100%;
  }

  #calc-shipment .calc__input--name,
  #calc-shipment .calc__input--phone {
    width: 100%;
  }

  #calc-shipment.is-collapse .calc__two,
  #calc-shipment.is-collapse .calc__three {
    display: none;
  }

  #calc-shipment .calc__label {
    padding-right: 5px;
  }

  #calc-shipment .calc__item--eight {
    margin: 0;
  }

  #calc-shipment .calc__link--plus {
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
  .calc {
    min-width: 320px;
    padding: 0;
    width: 75%;
    margin: 0 auto 20px;
    max-height: none;
  }

  #calc-shipment .calc__megabox {
    flex-direction: column;
  }

  #calc-shipment .calc__two {
    width: 100%;
  }

  #calc-shipment .calc__one {
    max-width: none;
    padding: 15px;
  }

  #calc-shipment .calc__two {
    max-width: none;
    padding: 15px;
    width: 90%;
  }

  #calc-shipment .calc__three {
    padding: 15px;
    width: 92%;
  }

  #calc-shipment .calc__head {
    flex-direction: column-reverse;
    padding-bottom: 10px;
    height: auto;
  }

  #calc-shipment .calc__container {
    flex-direction: column;
    padding-top: 35px;
  }

  #calc-shipment .calc__item--five {
    flex-direction: row;
  }

  #calc-shipment .calc__item--seven {
    flex-direction: row;
  }

  #calc-shipment .calc__title--links {
    width: 100%;
    padding-right: 20px;
    padding-top: 10px;
  }

  #calc-shipment .calc__block {
    padding-bottom: 0;
  }

  #calc-shipment .calc__box--car {
    margin-bottom: 14px;
  }

  #calc-shipment .calc__wrapper {
    margin: 0 auto;
    padding-bottom: 10px;
  }

  #calc-shipment .calc__heading {
    text-align: center;
  }

  #calc-shipment div.calc__desc--cargo {
    margin: 0 auto;
    padding-right: 10px;
    padding-bottom: 0;
  }

  #calc-shipment div.calc__desc--cargo-time {
    padding-bottom: 0;
  }

  #calc-shipment .calc__desc--client {
    padding-bottom: 6px;
  }

  #calc-shipment .calc__desc {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__item--six {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__desc--plus {
    padding-bottom: 0;
  }

  #calc-shipment .calc__item--eight {
    margin: 0 auto;
  }

  #calc-shipment .calc__item--eleven {
    padding-bottom: 10px;
  }

  #calc-shipment .calc__input--street {
    width: 100%;
  }

  #calc-shipment .calc__input--name,
  #calc-shipment .calc__input--phone {
    width: 100%;
  }

  #calc-shipment .calc__desc--time {
    padding-bottom: 0;
  }

  #calc-shipment .calc__desc--durability {
    padding-bottom: 0;
  }

  #calc-shipment.is-collapse .calc__two,
  #calc-shipment.is-collapse .calc__three {
    display: none;
  }

  #calc-shipment .calc__title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #calc-shipment .calc__item--eight {
    margin: 0;
  }

  #calc-shipment .calc__link--plus {
    justify-content: center;
  }
}